@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  font-family: 'Outfit', sans-serif;
}

.heading-small{
  font-size: 1.4rem;
  font-weight: 600;
}

.heading-large{
  font-size: 50px;
  font-weight: 600;
}